table.kurczaki thead td{
	font-style: italic;
	font-weight:normal;
	color: black;
}


table.kurczaki td{
	text-align:center;
	width: auto;
	border: none;
} 

table.kurczaki td:first-child{
	text-align:right;
}

table.kurczaki tbody td:first-child{
	font-weight:bold;
}

table.kurczaki tbody td:nth-child(2){
	font-style: italic;
}
table.kurczaki td:last-child{
	text-align:left;
}  


table.kurczaki#kurczaki-2 thead td{
	background: lightblue;
}


table.kurczaki#kurczaki-2 td{
	background: lightgreen;
} 

table.kurczaki#kurczaki-2 tr:nth-child(even) td{
	background: lightyellow;
}

table.XVIw td{
	color: black;
	border: none;
	vertical-align: top;
	width: auto;
	font-weight: normal;
	text-align: left;
	padding: 2px 5px;
}

table.XVIw td:nth-child(3), table.XVIw td:nth-child(6){
	text-align: right;
}

table.XVIw td:first-child, table.XVIw td:nth-child(4){
	font-style: italic;
}

table.XVIw#XVIw-2 tr:nth-child(even) td:nth-child(even), table.XVIw#XVIw-2 tr:nth-child(odd) td:nth-child(odd){
	background: #BF1575;
	color: white;
}


table.Chart td{
	width:auto;
	color:black;
	padding:2px 8px;
	border:none;
}
table.Chart tr:nth-child(2n-1) td:nth-child(3){
	border-bottom:1px solid black;
}
table.Chart tr:nth-child(4n+2) td:nth-child(3), table.Chart tr:nth-child(4n+3) td:nth-child(3){
	border-left:1px solid black;	
}


table.Chart tr:nth-child(4n-2) td:nth-child(2){
	border-bottom:1px solid black;
}
table.Chart tr:nth-child(8n-5) td:nth-child(2), table.Chart tr:nth-child(8n-4) td:nth-child(2), table.Chart tr:nth-child(8n-3) td:nth-child(2), table.Chart tr:nth-child(8n-2) td:nth-child(2){
	border-left:1px solid black;	
}

table.Chart tr:nth-child(8n-4) td:nth-child(1){
	border-bottom:1px solid black;
}

table.Chart#Chart-2 td{
	background: #15ABBF;
	border-color: white;
	color: #071266;
}
